 #tag_nav{
            padding: 15px;
            font-size: 18px;
        }
        #tag_nav .tag_all{
            background-color: red;
        }
        #tag_nav a{
            /*{#去除a标签的下划线#}*/
            text-decoration: none;
            /*{#指针变成手标#}*/
            cursor: pointer;
            padding: 5px;
            background-color: lightblue;
            border: 1px solid blue;
            border-radius: 5px;
        }
        #art_container{
            /*{#把前面的.去掉#}*/
            list-style: none;
        }
         #art_container li{
             float: left;
             padding: 8px;
         }
         /*{#清除浮动#}*/
         #art_container:after{
             content: '';
             display: block;
             height: 0;
             overflow: hidden;
             clear: both;
         }
         #art_container img:hover{
             box-shadow: 2px 2px 5px dodgerblue ;
             transform: scale3d(1.05,1.05,1.05);
             transition: transform ease-in-out 1s;
         }
        #art_container li label{
            display: block;
        }
        #art_container li dd{
            margin: 0px;
            padding: 2px;
        }
        .pagination{
            background-color: lightgoldenrodyellow;
            padding: 5px;
            text-align: center;
            font-size: 1.2em;
            margin-left: 42%;

        }
        .pagination a{
            text-decoration: none;
            padding: 5px 10px;

        }
        .pagination a:hover{
            background-color: aqua;
        }
        .active{
            background-color: palevioletred;
        }
        #searchKey{
            padding: 8px;
            font-size: 1.2em;
            margin-left: 700px;
        }
